[submodule "ThirdParty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ThirdParty/SPIRV-Reflect"]
	path = ThirdParty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
